$base-line-height: 1.4;
$h3h4-font-size: 1.2em;
$date-font-size: 1em;

/* -- reset -- */
a,abbr,body,button,fieldset,form,h1,h2,h3,h4,h5,h6,img,label,legend,li,ol,p,td,th,ul {
	border: 0;
	font-size: 100%;
	list-style: none;
	margin: 0;
	outline: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: baseline;
}

body,button,fieldset,form,h1,h2,h3,h4,h5,h6,legend,li,ol,p,td,th,ul {
	font-weight: normal;
}

input,select,textarea {
	font-size: 100%;
	margin: 0;
}

/* -- base -- */
body,button,input,select,td,th,textarea {
	color: #000;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
}

body {
	background: #3e445c;
	font-size: 62.5%;
	line-height: 1;
}

/* -- template -- */
#frame {
	margin: 0 auto;
	max-width: 94em;
	min-width: 32em;
	padding: 0 1.5em;
}

/* -- downloads -- */
#download {
	overflow: hidden; /* contain child floats */

	li {
		float: right;
		padding: 1em 0 1em 1.2em;
	}

	a {
		color: #969baf;
		display: block;
		font-size: 1.1em;
		line-height: 16px;
		padding-left: 18px;
		white-space: nowrap;

		&:hover {
			color: #d1d200;
			text-decoration: underline;
		}

		&[href$=".doc"] {
			background: url(img/icondoc.png) no-repeat 0 50%;
		}

		&[href$=".pdf"] {
			background: url(img/iconpdf.png) no-repeat 0 50%;
		}
	}
}

/* -- content -- */
#content {
	background-color: #fff;
	margin-bottom: 3em;
	padding: 0.5em 1.4em;

	/* -- headings -- */
	h1,h2,h3,h4,h5 {
		font-weight: bold;
		line-height: $base-line-height;
	}

	h1,h2 {
		background: #d8d8d8;
		clear: both;
		font-size: 1.5em;
		margin: 2em 0 1em 0;
		padding: 0.2em;
	}

	h3,h4 {
		font-size: $h3h4-font-size;
		margin-bottom: 0.6em;
	}

	h4 {
		color: #aaa;
		margin-bottom: 1em;
	}

	h3 + h4 {
		margin-top: -0.6em;
	}

	h5 {
		font-size: 1.1em;
		margin-bottom: 0.2em;
	}

	/* -- lists, paragraphs & anchors -- */
	ul {
		margin: 0 0 1.5em 2.5em;
	}

	li ul {
		margin-bottom: 0;
	}

	p,li {
		font-size: 1.1em;
		line-height: $base-line-height;
	}

	p {
		margin-bottom: 1em;
	}

	li li,
	li p {
		font-size: 1em;
	}

	a {
		color: #000;
		text-decoration: underline;

		&:hover {
			color: #b00;
		}
	}

	/* -- technical skillset -- */
	.skillset li {
		list-style-type: disc;
	}

	/* -- work/education sections -- */
	.detail {
		margin-left: 10.7em;
		position: relative;

		.date {
			color: #000;
			font-size: $date-font-size;
			font-weight: normal;
			left: -10.7em;
			line-height: (($h3h4-font-size / ($date-font-size / 1em)) * $base-line-height) / 1em;
			position: absolute;
			top: 0;
			white-space: nowrap;

			span {
				left: -999em;
				overflow: hidden;
				position: absolute;
				top: -999em;
				width: 1em;
			}
		}

		li {
			list-style-type: disc;
		}
	}
}

/* -- address / contact details -- */
#address {
	margin-bottom: 1.8em;
}

#contact {
	overflow: hidden; /* contain child floats */

	ul {
		float: left;
		margin: 0;
		width: 45%;

		strong {
			display: inline-block;
			width: 5.5em;
		}
	}
}

/* -- education / last updated (child of #content for higher specificity) -- */
#content {
	#education {
		margin: 0;
		overflow: hidden; /* contain child floats */

		li {
			float: left;
			list-style: none;
			white-space: nowrap;
			width: 45%;
		}
	}

	/* -- content - document last updated -- */
	#lastupdated {
		color: #aaa;
		margin: 0;
		text-align: right;
	}
}

/* -- small device width overrides -- */
@media screen and (max-width: 700px) {
	#contact ul,
	#content #education li {
		float: none;
		width: auto;
	}
}

@media screen and (max-width: 550px) {
	#frame {
		padding: 0;
	}

	#download {
		padding: 0.5em 0;
	}

	#download li {
		clear: right;
		padding: 0.3em;
	}

	#content .detail {
		margin: 0;
		position: static;

		.date {
			font-weight: bold;
			left: 0;
			line-height: $base-line-height;
			margin-top: -1em;
			position: static;
		}
	}
}
