// -- constants --
$fontSizeBase: 1.2em;
$fontSizeHeadingMain: 2em;
$fontSizeHeadingSub: 1.7em;
$fontSizeHeadingMinor: 1.4em;
$lineHeightBase: 1.5;

$respondWidthCenti: 650px;
$respondWidthMicro: 500px;

$pageWidth: 92%;
$pageWidthMaximum: 760px;

$spacingBase: 15px;
$spacingHalf: (floor($spacingBase / 2));
$spacingQuarter: (floor($spacingBase / 4));
$spacingDouble: ($spacingBase * 2);

$topMenuInnerHeight: 30px;
$dateSectionLeftMargin: 110px;
$technicalSkillCategoryWidth: 40%;
$experienceRoleWidth: 70%;

$colorBodyAnchorHover: #b00;
$colorGrey: #d8d8d8;
$colorGreyDark: darken($colorGrey,30%);
$colorPageBackground: #f9f9f9;
$colorPageBodyShadow: #ccc;
$colorWhiteTopMenu: #ddd;


// -- mixins --
@mixin respondWidthFrom($widthFrom) {
	@media screen and (min-width: $widthFrom + 1) { @content; }
}

@mixin respondWidthUpTo($widthUpTo) {
	@media screen and (max-width: #{$widthUpTo}) { @content; }
}

@mixin printOnly() {
	@media print { @content; }
}


// -- reset --
* {
	box-sizing: border-box;
}

a,abbr,body,button,fieldset,form,h1,h2,h3,h4,h5,h6,iframe,img,label,legend,li,ol,p,td,th,ul {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	list-style: none;
	margin: 0;
	outline: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: baseline;
}

a,abbr {
	font-weight: inherit;
}

input,select,textarea {
	font-size: 100%;
	margin: 0;
}

// -- base --
body,button,input,select,td,textarea,th {
	color: #000;
	font-family: Verdana,Geneva,sans-serif;
}

body {
	background: $colorPageBackground;
	font-size: 62.5%;
	line-height: 1;

	@include respondWidthUpTo($respondWidthMicro) {
		// [.pagebody] is now flush to browser left/right edges - blend with background color
		background: #fff;
	}

	@include printOnly() {
		background: #fff;
	}
}

// -- base - clear fix --
%clearFix:before,
%clearFix:after {
	content: '\0020'; // space character
	display: block;
	height: 0;
	overflow: hidden;
}

%clearFix:after {
	clear: both;
}

// -- base - hide --
%hide {
	left: -999em;
	overflow: hidden;
	position: absolute;
	top: -999em;
	width: 1em;
}

// -- placeholder - page frame --
%pageFrame {
	margin: 0 auto;
	max-width: $pageWidthMaximum;
	width: $pageWidth;

	@include respondWidthUpTo($respondWidthMicro) {
		max-width: none;
		width: 100%;
	}
}

// -- top menu --
.topmenu {
	background: #000;
	font-size: $fontSizeBase;
	left: 0;
	padding: $spacingHalf 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;

	@include printOnly() {
		display: none;
	}

	> .inner {
		@extend %pageFrame;
		line-height: $topMenuInnerHeight;

		@include respondWidthUpTo($respondWidthMicro) {
			margin: 0 $spacingHalf; // matches padding applied to [.pagebody]
		}
	}
}

// -- top menu - navigation --
.topmenu-navigation {
	float: left;
	@extend %stackedNavigation;

	> .item {
		color: #fff;
		display: inline-block;
		white-space: nowrap;

		&:after {
			content: ' | ';
		}

		&:last-child:after {
			content: none;
		}

		> .link {
			color: $colorWhiteTopMenu;

			&:hover {
				color: #fff;
				text-decoration: underline;
			}
		}
	}
}

// -- top menu - download --
.topmenu-download {
	float: right;
	@extend %stackedNavigation;

	> .item {
		display: inline-block;
		margin-right: $spacingHalf;
		white-space: nowrap;

		&:last-child {
			margin: 0;
		}

		> .msword,
		> .pdf {
			color: $colorWhiteTopMenu;
			display: block;
			padding-left: 20px; // allocation for file icon

			&:hover {
				color: #fff;
				text-decoration: underline;
			}
		}

		// file icons
		// TODO: update icons to 2018 styling
		> .msword {
			background: url(img/iconmsword.png) no-repeat 0 50%;
		}

		> .pdf {
			background: url(img/iconpdf.png) no-repeat 0 50%;
		}
	}
}

// -- top menu - stacked --
%stackedNavigation {
	@include respondWidthUpTo($respondWidthCenti) {
		// stacked navigation/downloads
		display: block;
		float: none;
	}
}

// -- jump to anchor point --
.jumpto {
	left: 0;
	position: absolute;
	top: -($topMenuInnerHeight + $spacingDouble); // offset by height of fixed [.topmenu] area

	@include respondWidthUpTo($respondWidthCenti) {
		// stacked navigation/downloads
		top: -(($topMenuInnerHeight * 2) + $spacingDouble);
	}
}

// -- page body --
.pagebody {
	@extend %pageFrame;
	background: #fff;
	box-shadow: 0 0 3px $colorPageBodyShadow;
	margin-bottom: $spacingDouble;
	margin-top: ($topMenuInnerHeight + $spacingDouble); // clear fixed [.topmenu]
	padding: $spacingBase $spacingHalf;

	@include respondWidthUpTo($respondWidthCenti) {
		// double height clearing of [.topmenu] when items are stacked
		margin-top: (($topMenuInnerHeight * 2) + $spacingDouble);
	}

	@include respondWidthUpTo($respondWidthMicro) {
		box-shadow: none;
		padding: 0 $spacingHalf; // matches margin applied to [.topmenu > .inner]
	}

	@include printOnly() {
		box-shadow: none;
		margin: 0;
		max-width: none;
		padding: 0;
		width: auto;
	}

	// typography - headings
	> h1,> h2,h3,h4 {
		font-weight: bold;
	}

	> h1,> h2 {
		background: $colorGrey;
		margin-bottom: $spacingHalf;
		padding: $spacingHalf $spacingQuarter;
		position: relative; // to support [.jumpto] elements
	}

	> h1 {
		font-size: $fontSizeHeadingMain;

		@include printOnly() {
			background: none;
			margin: 0;
			padding: 0;
		}
	}

	> h2 {
		font-size: $fontSizeHeadingSub;
		margin-top: $spacingDouble;

		@include printOnly() {
			background: none;
			border-bottom: 1px solid #000;
			padding: 0 0 $spacingQuarter;
		}
	}

	h3 {
		font-size: $fontSizeHeadingMinor;
		line-height: $lineHeightBase;
	}

	h4 {
		font-size: $fontSizeBase;
		margin-bottom: $spacingHalf;
	}

	// typography - lists, paragraphs, anchors
	ul {
		margin: 0 0 $spacingBase ($spacingBase + $spacingHalf);
	}

	p,li {
		font-size: $fontSizeBase;
		line-height: $lineHeightBase;
	}

	p {
		margin-bottom: $spacingBase;
	}


	li li,
	li p {
		font-size: 100%;
	}

	li > p:last-child {
		margin: 0;
	}

	a {
		color: #000;
		text-decoration: underline;

		&:hover {
			color: $colorBodyAnchorHover;
		}
	}

	// page updated
	> .updated {
		color: $colorGreyDark;
		margin: 0;
		text-align: right;
	}
}

// -- contact details --
.contactdetail {
	@extend %clearFix;

	> ul {
		float: left;
		margin: 0;
		width: 50%;

		&:first-child {
			padding-right: $spacingBase;
		}

		@include respondWidthUpTo($respondWidthCenti) {
			// stack contact details
			float: none;
			padding: 0;
			width: auto;
		}

		// contact item label
		> li > strong {
			display: inline-block;
			width: 60px;
		}
	}
}

// -- technical skill set --
.technicalskillset {
	@extend %clearFix;
	// eat up last h3/ul margin bottom
	margin-bottom: (0 - $spacingBase);

	// category
	> h3 {
		clear: left;
		float: left;
		// lower font size to match that of skill
		font-size: $fontSizeBase;
		margin-bottom: $spacingBase;
		padding-right: $spacingBase;
		width: $technicalSkillCategoryWidth;

		@include respondWidthUpTo($respondWidthCenti) {
			// stack group title and list
			float: none;
			margin: 0;
			padding: 0;
			width: auto;
		}
	}

	// skill list
	> ul {
		float: left;
		margin: 0 0 $spacingBase;
		width: (100% - $technicalSkillCategoryWidth);

		@include respondWidthUpTo($respondWidthCenti) {
			// stack group title and list
			float: none;
			width: auto;
		}

		> li {
			display: inline;

			&:after {
				content: ', ';
			}

			&:last-child:after {
				content: none;
			}
		}
	}
}

// -- experience --
.experience {
	> .header {
		@extend %clearFix;

		@include printOnly() {
			page-break-inside: avoid;
		}

		// job role
		> .role {
			color: $colorGreyDark;
			float: left;
			font-size: $fontSizeHeadingMinor;
			font-weight: bold;
			width: $experienceRoleWidth;

			@include respondWidthUpTo($respondWidthCenti) {
				// stack job header details
				float: none;
				margin: 0;
				width: auto;
			}
		}

		// employment period
		> .period {
			color: $colorGreyDark;
			float: right;
			text-align: right;
			width: (100% - $experienceRoleWidth);

			@include respondWidthUpTo($respondWidthCenti) {
				// stack job header details
				float: none;
				text-align: left;
				width: auto;
			}

			// label
			> span {
				@extend %hide;
			}
		}
	}

	> ul li {
		list-style: disc;
	}
}

.experience + .experience {
	// gap between experence items
	margin-top: $spacingDouble;
}
